profile {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__container {
  text-align: center;
  height: 56%;
  position: relative;
}

/* ==============Socials=============== */
.profile__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  right: 0;
  bottom: 50%;
}

.profile__socials::after {
  content: '';
  width: 1px;
  height: 5rem;
  background-color: var(--color-orange);
}

.itprof {
  padding-bottom: 3rem;
}

/* ==================== CTA ===================*/

.cta {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* ================================================= */

.profile__outer-circle {
  width: 20rem;
  height: 20rem;
  border: 1px solid var(--color-orange);
  border-radius: 50%;
  position: absolute;
  animation: move 30s linear infinite;
  left: calc(50% - 10rem);
}

@keyframes move {
  to {
    transform: rotate(360deg);
  }
}
.profile__outer-circle span {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  background: var(--color-black-variant);
  color: var(--color-oasis);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem var(--color-black-variant);
}

.profile__outer-circle span:nth-child(1) {
  left: calc(50% - 2rem);
  top: -2rem;
}

.profile__outer-circle span:nth-child(2) {
  right: -2rem;
  top: calc(50% - 2rem);
}

.profile__outer-circle span:nth-child(3) {
  left: -2rem;
  top: calc(50% - 2rem);
}

.profile__outer-circle span:nth-child(4) {
  bottom: -2rem;
  left: calc(50% - 2rem);
}

.profile__inner-circle {
  position: absolute;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  overflow: hidden;

  left: calc(50% - 7rem);
  top: 13rem;
}

/* ==================== Scroll down ===================*/

.scroll__down {
  position: absolute;
  left: -2.3rem;
  bottom: 30%;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ==================MEDIA QUERIES (medium devices) ===========================*/

@media screen and (max-width: 1024px) {
  .profile__container {
    height: 75%vh;
  }
}

/* ==================MEDIA QUERIES (small devices) ===========================*/

@media screen and (max-width: 600px) {
  .profile__container {
    height: 65%;
  }
  .scroll__down {
    display: none;
  }
  .profile__socials::after {
    display: none;
  }
  .profile__socials-icon {
    display: none;
  }
}
