#about {
  background: var(--color-black);
}

#about > h5 {
  padding-top: 2rem;
}
.about__container {
  display: grid;
  grid-template-columns: 45% 50%;
  gap: 5%;
}

.about__image {
  width: 100%;
  display: grid;
  place-items: center;

  background: linear-gradient(transparent, var(--color-orange-variant));

  /* left: 50%;
  transform: translateX(-50%); */
  margin-top: 4rem;
  border-radius: 30rem 10rem 30rem 10rem;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
  position: relative;
  animation: left-to-right 1900ms ease;
  left: 1rem;

  /* border-bottom: 100px solid var(--color-orange-variant);
  border-right: 50px solid transparent;
  border-left: 50px solid transparent; */
}

@keyframes left-to-right {
  from {
    left: -20rem;
  }
  100% {
    transform: translateX(0);
  }
}

.about__image:hover {
  background: linear-gradient(transparent, var(--color-orange));
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.about__card {
  background: var(--color-black-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}
.about__card:hover {
  background: transparent;
  border-color: var(--color-black-variant);
  cursor: default;
}

.about__icon {
  color: var(--color-orange);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 1rem;
}

.about__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.about__content p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
}
.about__content {
  padding-top: 3rem;
}

.education__card {
  margin-top: 1.5rem;
  padding: 2rem;
  background: var(--color-black-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  text-align: center;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.education__card small {
  padding-left: 1rem;
}
.education__icon {
  color: var(--color-orange);
  margin-right: 2rem;
}
/* ==================MEDIA QUERIES (medium devices) ===========================*/

@media screen and (max-width: 1024px) {
  .about__me {
    width: 70%;
    margin: 2rem auto 4rem;
  }

  .about__content p {
    margin: 1rem 0 2rem;
  }

  .about__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .about__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .about__image {
    width: 100%;
  }

  .about__content {
    margin-top: 1rem;
  }
}

/* ==================MEDIA QUERIES (small devices) ===========================*/

@media screen and (max-width: 600px) {
  .about__about-image {
    width: 65%;
    margin: 0 auto 3rem;
  }
  .about__cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 1rem;
  }
}
