/* tech stack */
.experience__skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 0.5rem;
  place-items: center;
  animation: right-to-left 900ms ease;
  position: relative;
}

#experience > h5 {
  padding-top: 2rem;
}
.experience__skill h5 {
  padding-top: 1rem;
}
.skill__icon {
  height: 50px;
  width: 50px;
}

.experience__skills small {
  text-align: center;
}

.experience__skill {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--color-black-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 0.5rem;
  text-align: center;
  transition: var(--transition);
}

.experience__skill:hover {
  background: transparent;
  border-color: var(--color-black-variant);
  cursor: default;
}

/* end of tech stack */

/* Certificate Section */
.certificate__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--color-black-variant);
}

.swiper__container {
  height: 100%;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 0.1rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--color-black-variant);

  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.mySwiper {
  background: var(--color-black-variant);
}
/* end of Certificate Section */

/* Experience Section */
.job__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  margin: 1rem;

  border: 2px solid transparent;
  border-color: var(--color-black-variant);
  border-radius: 1rem;
  background: var(--color-black-variant);
}

.job__container h2 {
  color: var(--color-orange);
}

.job__container small {
  color: var(--color-light);
  text-align: left;
}

.job__container h5 {
  text-align: left;
}

.jobdetail__container {
  display: none;
}

.jobdetail__container.show {
  padding: 1rem;
  border-radius: 1rem;
  width: 200rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background: transparent;
  border: 1px solid transparent;
  border-color: var(--color-light);
  border-radius: 1rem;
  padding: 2rem;
  text-align: left;
}

.jobinfo__container {
  width: 200rem;
  height: auto;
  background: var(--color-black-variantv2);
  position: relative;

  border: 2px solid transparent;
  border-color: var(--color-black);
  border-radius: 1rem;
  padding: 1rem;
  z-index: 1;
}

.btn-read {
  color: var(--color-oasis);
  transition: var(--transition);
  width: 2rem;
  text-decoration: underline;
}

.btn-read:hover {
  color: var(--color-white);
  cursor: pointer;
}

/* end of Experience Section */

/* TABS */
.bloc-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.bloc-tabs h3 {
  color: var(--color-light);
}
.active-tabs {
  border-bottom: 1px solid var(--color-orange);
}

.tabs {
  padding: 1rem;
  margin: 1rem 4rem;
  width: auto;
}
.active-content {
  display: block;
  margin: 3rem 0 5rem;
}

.content-tabs {
  flex-grow: 1;
}

.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
/* end of TABS */

/* ==================MEDIA QUERIES (medium devices) ===========================*/

@media screen and (max-width: 1024px) {
  .experience__skills {
    grid-template-columns: repeat(4, 1fr);
  }

  .tabs {
    margin: 1rem 1rem;
  }
}
/* ==================MEDIA QUERIES (small devices) ===========================*/

@media screen and (max-width: 600px) {
  .experience__skills {
    grid-template-columns: repeat(3, 1fr);
  }

  .job__container {
    display: flex;
    place-items: center;
    flex-direction: column;
  }

  .jobdetail__container {
    width: auto;
  }

  .jobdetail__container.show {
    width: auto;
  }

  .jobinfo__container {
    width: auto;
  }

  .jobinfo__container:before {
    rotate: 90deg;
    top: 100%;
    left: 50%;
  }
}
