.experience__skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 0.5rem;
  place-items: center;
}
#experience > h5 {
  padding-top: 2rem;
}
.experience__skill h5 {
  padding-top: 1rem;
}
.skill__icon {
  height: 50px;
  width: 50px;
}

.experience__skills small {
  text-align: center;
}

.experience__skill {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--color-black-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 0.5rem;
  text-align: center;
  transition: var(--transition);
}

.experience__skill:hover {
  background: transparent;
  border-color: var(--color-black-variant);
  cursor: default;
}

.certificate__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper__container {
  height: 90%;
  width: 90%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ==================MEDIA QUERIES (medium devices) ===========================*/

@media screen and (max-width: 1024px) {
  .experience__skills {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* ==================MEDIA QUERIES (small devices) ===========================*/

@media screen and (max-width: 600px) {
  .experience__skills {
    grid-template-columns: repeat(3, 1fr);
  }
}
